@import '/styles/globals.scss';

.DYE-header{
    width: 100vw;
    height: fit-content;
    background-color: $blue;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top:0;
    left: 0;

}

// .DYE-header_details{
//     align-self: flex-end;
//     max-width: 50%;
//     word-wrap: break-word;
// }